#header-bar{
    background-color: #D6D5C4;
    color:unset;
}
                
#app-wrapper, #main-window{
    background-color: #ffffff;
}
                
#decision-box, #drop-box{
    all: unset;
    background-color:rgb(183, 220, 245);
    padding: 10px;
    border-radius: 20px;
}

                
#do-button{
    border-radius:5px;
}
                
#drop-box {
    transition: background-color 0.5s ease-in-out;
}
               
#file-box{
    border-radius: 10px;
}
      
#global-box{
    margin-bottom: 10px;
    padding: 14px;
}

#manage-box{
    background-color:rgb(112, 126, 252);
    border-radius: 20px;
}
      
#row {
    background-color:unset;
    padding: 2px;
    border-radius: 4px;
}
                
#row:active{
    filter:brightness(0.7);
}
                
#row:selected{
    background-color: rgb(112, 126, 252);
}
                
#button,
#nbutton{
    filter:unset;
}
                
#add-button,
#del-button,
#move-button{
    all:unset;
    transition: filter 0.5s;
    background-color: rgb(57, 71, 196);
    padding: 6px;
    border-radius: 20px;
}
                
#add-button:hover,
#del-button:hover,
#move-button:hover{
    filter: brightness(0.7);
}
