:root {
  --header-bar-color: rgb(20, 20, 20);
  --header-bar-font-color: rgb(255,255,255);
  --background-overall-color :rgb(75, 73, 73);
  --main-boxes-color:rgb(26, 41, 170);
  --actions-bar-color: rgb(13, 21, 90);
  --actions-button-color: rgb(57, 71, 196);
  --row-selected-color: var(--actions-bar-color);
  --info-background-color: white;
  --file-list-color: rgb(31, 29, 29);
  --font-row-color: white;
}

#app-wrapper,#main-window{
    background-color:rgb(75, 73, 73);
}
            
#header-bar{
    all:unset;
    padding: 2px 8px 2px 8px ;
    background-color:var(--header-bar-color);
    color: var(--header-bar-font-color);
}
                
#decision-box, #drop-box,#main-box{
    all: unset;
    background-color:var(--main-boxes-color);
    padding: 10px;
    border-radius: 20px;
}

                
#do-button{
    border-radius:5px;
    filter: invert(100%);
}
                
#file-box{
    margin-bottom: 10px;
    background-color: var(--file-list-color);
    border-radius: 10px;
}

#subinfo-box{
    padding: 5px;
    border-radius: 6px;
    background-color: var(--info-background-color);
    filter:brightness(0.6);
}

#global-box{
    margin-bottom: 10px;
    padding: 14px;
}

 
#action-bar{
    background-color:var(--actions-bar-color);
    border-radius: 20px;
    padding: 5px;
}
 
#row {
    background-color:unset;
    padding: 2px;
    border-radius: 4px;
    color:var(--font-row-color);
}
          
#row:active{
    filter:brightness(0.7);
}
                
#row:selected{
    background-color: var(--row-selected-color);
}

#tile-button{
    filter:invert(100%);
}
                
#button,
#nbutton{
    filter:invert(100%);
}
                
#add-button,
#del-button,
#move-button{
    all:unset;
    transition: filter 0.5s;
    background-color: var(--actions-button-color);
    padding: 6px;
    border-radius: 20px;
}
                
#add-button:hover,
#del-button:hover,
#move-button:hover{
    filter: brightness(0.7);
}


#warning{
    filter:invert(100%);
}